* {
    padding: 0%;
    margin: 0%;
}
body {
    background-color: #2b2d31;
    color: white;
    font-family: Arial;
}

/**HEADER**/

header {
    position: absolute;
    background-color: rgb(89, 91, 100);
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#imgMenu {
    position: absolute;
    width: 35px;
    top: 7px;
    left: 12px;
    opacity: 30%;
}

#imgMenu:hover {
    filter: invert(1);
    opacity: 100%;
}

@media screen and (max-width: 300px) {
    #Fundo {
        border-radius: 0;
        max-width: 100%;
    }
}

#Fundo {
    position: relative;
    display: flex;
    background: #213c63;
    max-width: 900px;
    height: 300px;
    min-height: 200px;
    top: 125px;
    margin: auto;
    border-radius: 10px;
}

#Social {
    position: absolute;
    top: 7px;
    right: 12px;
}

.logoSocial {
    width: 35px;
}

.logoSocial {
    opacity: 30%;
}
.logoSocial:hover {
    filter: invert(1);
    opacity: 100%;

}

#fotoPerfil {
    width: 100%;
    border-radius: 100%;
    padding: 10px;
}

#divfotoPerfil {
    display: flex;
    position: absolute;
    max-width: 200px;
    max-height: auto;
    top: 30px;
    right: 60%;
}
#divtextTitle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    left: 45%;
    max-width: 220px;
    min-width: 100px;
    max-height: 100px;
    min-height: 50px;
}
.textTitle {
    min-width: 100px;
}


.Menu {
    position: absolute;
    top: 16px;
    left: 60px;
    text-decoration: none;
    color: white;
    font-size: 13px;
}


/*MAIN*/

  #fundoMain {
    background-color: rgb(32, 42, 71);
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    padding: 20px;
    max-width: 800px;
    min-height: 150px;
    max-height: 250px;
    top: 375px;
    font-family: sans-serif;
    text-align: justify;
    text-indent: 75px;
}

#textMain {
    position: absolute;
    max-width: 800px;
    min-height: 150px;
    max-height: 250px;
    top: 375px;
    font-family: sans-serif;
    text-align: justify;
    text-indent: 75px;
}



/*FOOTER*/

#textFooter {
    position: relative;
    top: 600px;
}

footer {
    display: flex;
    position: relative;
    max-width: 544px;
    max-height: 100px;
    margin: auto;
    bottom: 10px;
}

span {
    color: rgb(0, 145, 255);
}